.Rproj.user
caastools.Rproj
.RData
.Rhistory
workspace
.venv
output_*
.nextflow*
work
results
log
null
.history
.history
test
Docker
Data
Out
singularity
slurm*
.vscode/settings.json
subworkflows/RERCONVERGE/scripts/phylophere.code-workspace
